<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appSettings>
        <clear />
    </appSettings>

    <system.web>
        <httpRuntime maxRequestLength="102400" maxUrlLength="102400" maxQueryStringLength="10000" requestValidationType="System.Web.Util.RequestValidator" />

        <httpModules>
            <clear />
        </httpModules>

        <httpHandlers>
            <clear />
        </httpHandlers>
    </system.web>

    <system.webServer>
        <validation validateIntegratedModeConfiguration="false" />
        <modules runAllManagedModulesForAllRequests="true">
            <remove name="ClaimsPrincipalHttpModule" />
            <remove name="SitefinityClaimsAuthenticationModule" />
            <remove name="Sitefinity" />
            <remove name="SessionAuthenticationModule" />
            <remove name="ScriptModule" />
            <remove name="RadUploadModule" />
            <remove name="SitefinityAnalyticsModule" />
        </modules>
        <handlers>
            <remove name="xamlx-64" />
            <remove name="xamlx-script" />
            <remove name="svc-64" />
            <remove name="svc-script" />
            <remove name="xamlx" />
            <remove name="svc" />
            <remove name="ScriptHandlerFactory" />
            <remove name="ScriptHandlerFactoryAppServices" />
            <remove name="ScriptResource" />
            <remove name="WildCard" />
            <remove name="WildCard32" />
            <remove name="Telerik.Web.UI.DialogHandler" />
            <remove name="Telerik.RadUploadProgressHandler" />
            <remove name="Telerik.Sitefinity.FilesDownloadHandler" />
            <remove name="Telerik.Sitefinity.ExportSubscribersHttpHandler" />
            <remove name="Telerik.Sitefinity.LibrariesRadUploadHandler" />
            <remove name="Telerik.Sitefinity.Html5UploadHandler" />
            <remove name="Telerik.Sitefinity.ThumbnailUploadHandler" />
            <remove name="Telerik.Sitefinity.AsyncImageUploadHandler" />
            <remove name="Telerik.Sitefinity.AsyncFileUploadHandler" />
            <remove name="Telerik.Sitefinity.AsyncToolsetXmlUploadHandler" />
            <remove name="Telerik.Web.UI.SpellCheckHandler" />
            <remove name="Telerik_Web_UI_WebResource_axd" />
            <remove name="Telerik_Web_UI_DialogHandler_aspx" />
            <remove name="Telerik.ReportViewer.axd_*" />
        </handlers>
        <rewrite>
            <rules>

                {% for page in site.redirect_pages %} {% for redirect in page.previous_url %}
                <rule name="redirect-page-{{ redirect | remove_first: '/' | replace: '/', '-' }}" 
                      enabled="true" 
                      stopProcessing="true">
                      <match ignoreCase="false" url="^{{ redirect | remove_first: '/' }}$" />
                      <action type="Redirect" url="{{ page.url | remove_first: '/' | replace: '.html', '' }}" />
                </rule>
                {% endfor %}{% endfor %}

                <rule name="landing page" enabled="true" stopProcessing="true">
                    <match ignoreCase="false" url="^$" />
                    <action type="Redirect" url="Configure-Fiddler/Tasks/ConfigureFiddler" />
                </rule>
                
                <rule name="Redirect to https" stopProcessing="true">
                    <match url=".*" />
                    <conditions>
                        <add input="{HTTPS}" pattern="off" ignoreCase="true" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" appendQueryString="false" />
                </rule>

                <rule name="Redirecting .html ext" enabled="true">
					<match url="^(.*)[.]html"/>
					<conditions logicalGrouping="MatchAny">
						<add input="{URL}" pattern="(.*)[.]html"/>
					</conditions>
					<action type="Redirect" url="{ToLower:{R:1}}"/>
				</rule>

                <rule name="Hide .html ext">
                    <match ignoreCase="true" url="^(.*)"/>
                    <conditions>
                        <add input="{REQUEST_FILENAME}.html" matchType="IsFile"/>
                    </conditions>
                    <action type="Rewrite" url="{R:0}.html"/>
                </rule>

                 <rule name="All URLs to lower case" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{URL}" pattern="[A-Z]" ignoreCase="false" />
                    </conditions>
                    <action type="Redirect" url="{Tolower:{R:0}}" appendQueryString="true" redirectType="Temporary" />
                </rule>   

                <rule name="kb" enabled="true">
                    <match ignoreCase="true" url="KnowledgeBase/(.*)$" />
                    <action type="Redirect" url="knowledge-base/{R:1}" redirectType="Permanent" />
                </rule>
            </rules>
        </rewrite>
        <httpProtocol>
            <customHeaders>
                <add name="Cache-Control" value="no-cache" />
            </customHeaders>
        </httpProtocol>
        <staticContent>
            <remove fileExtension=".json" />
            <mimeMap fileExtension=".json" mimeType="application/json" />
            <remove fileExtension=".woff" />
            <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
        </staticContent>
        <httpErrors errorMode="Custom" defaultResponseMode="File" >
            <remove statusCode="404" />
            <error statusCode="404" path="40x.html" />
        </httpErrors>
    </system.webServer>

</configuration>
