<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                {% for directory in site.redirect_directories %}
                <rule name="redirect-{{ directory.path | replace: '/', '-' }}" enabled="true">
                    <match url="^{{ directory.path }}/?$" />
                    <action type="Redirect" url="{{ directory.url }}" redirectType="Found" />
                </rule>
                {% endfor %}
                {% for page in site.redirect_pages %} {% for redirect in page.previous_url %}
                <rule name="redirect-{{ redirect | remove_first: '/' | replace: '/', '-' }}" enabled="true" stopProcessing="true">
                    <match url="^{{ redirect | remove_first: '/' }}$" />
                    <action type="Redirect" url="{{ page.url | remove_first: '/' | replace: '.html', '' }}" />
                </rule>
                {% endfor %}{% endfor %}
                <rule name="add_html_extension" enabled="true" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}.html" matchType="IsFile" />
                    </conditions>
                    <action type="Rewrite" url="{R:1}.html" />
                </rule>
            </rules>
        </rewrite>
        <staticContent>
            <mimeMap fileExtension=".json" mimeType="application/json" />
        </staticContent>
    </system.webServer>
</configuration>
