<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ page.page_title || page.title }}</title>
        <link rel="shortcut icon" href="{{site.baseurl}}/favicon.ico"/>
        {% if page.description %}<meta name="description" content="{{page.description}}">{% endif %}
        <link href="http://cdn.kendostatic.com/2014.1.528/styles/kendo.common.min.css" rel="stylesheet" />
        <link href="{{site.baseurl}}/assets/css/styles.css" rel="stylesheet" />
        <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
        <script src="http://cdn.kendostatic.com/2014.1.528/js/kendo.web.min.js"></script>
        <script src="{{site.baseurl}}/assets/js/prettify.js"></script>
        <script src="{{site.baseurl}}/assets/js/app.js"></script>
        <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', '{{site.google_analytics}}'],
        ['_setDomainName', '.telerik.com'],
        ['_addIgnoredRef', 'telerik.com'],
        ['_trackPageview']);
        (function () {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
    </head>
    {% if page.category %}
    <body class="faux-columns">
    {% else %}
    <body>
    {% endif %}
        <!-- Google Tag Manager -->
        <noscript>
            <iframe src="//www.googletagmanager.com/ns.html?id={{site.google_tag_manager}}" height="0" width="0" style="display: none; visibility: hidden"></iframe>
        </noscript>
        <script>(function(w, d, s, l, i) { w[l] = w[l] || []; w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' }); var f = d.getElementsByTagName(s)[0], j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src = '//www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f); })(window, document, 'script', 'dataLayer', '{{site.google_tag_manager}}');</script>
        <!-- End Google Tag Manager -->
        <div id="page-header">
            <div id="logo-bar"></div>
        </div>
        {{ content }}
    </body>
</html>

